{% extends "../layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block mainContent %}
    <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
            text: "Locations",
            href: "/locations"
        }) }}

        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">{{ location.display_name }}</span>
            Terminals
            {% if simulated === 'true' %}
                <strong class="govuk-tag govuk-tag--grey">SIMULATED</strong>
            {% endif %}
        </h1>

        {% if simulated === 'true' %}
            <p><a class="govuk-link govuk-link--no-visited-state" href="/locations/{{ location.id }}/readers">Show real
                    terminals</a></p>
{#        {% else %}#}
{#            <p><a class="govuk-link govuk-link--no-visited-state"#}
{#                  href="/locations/{{ location.id }}/readers?simulated=true">Show simulated terminals</a></p>#}
        {% endif %}

        <p class="govuk-body">
            {{ govukButton({
                classes: "govuk-button--secondary",
                text: "Register a new terminal",
                href: "/locations/" + location.id + "/readers/register?simulated=" + simulated
            }) }}
        </p>

        <div>
            {% for reader in readers %}
                <div class="list-item">
                    <h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state"
                                                   href="/locations/{{ locationId }}/readers/{{ reader.id }}">{{ reader.label }}</a>
                        {% if reader.status === 'online' %}
                            <strong class="govuk-tag govuk-tag--green govuk-!-static-margin-left-3">online</strong>
                        {% else %}
                            <strong class="govuk-tag govuk-tag--red govuk-!-static-margin-left-3">offline</strong>
                        {% endif %}
                    </h2>
                    <div class="list-item-meta">
                        <dl>
                            <dt>Location:</dt>
                            <dd>{{ reader.location.display_name }}</dd>
                        </dl>
                        <dl>
                            <dt>Serial number:</dt>
                            <dd>{{ reader.serial_number }}</dd>
                        </dl>
                    </div>
                    <div class="govuk-button-group">
                        <span>
                            {{ govukButton({
                                classes: "govuk-button--secondary",
                                text: "Take a payment",
                                href: "/locations/" + locationId + "/readers/" + reader.id + "/payment"
                            }) }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

