{% extends "../layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block main %}
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Register a terminal</h1>

        <form method="post" action="/readers/register" novalidate>

            <input id="simulated" name="simulated" type="hidden" value="{{ simulated }}"/>

            {{ govukInput({
                label: {
                    text: "Display name"
                },
                classes: "govuk-input--width-20",
                id: "label",
                name: "label"
            }) }}

            {{ govukInput({
                label: {
                    text: "Registration code"
                },
                classes: "govuk-input--width-20",
                id: "code",
                name: "code",
                value: "simulated-wpe" if simulated else ""
            }) }}

            <div class="govuk-form-group">
                <label class="govuk-label" for="location">
                    Location
                </label>
                <select class="govuk-select" id="location" name="location">
                    {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.display_name }}</option>
                    {% endfor %}
                </select>
            </div>

            {{ govukButton({ text: "Register terminal" }) }}
        </form>

        <p class="govuk-body govuk-!-margin-top-9">
            <a class="govuk-link govuk-link--no-visited-state" href="/readers?simulated={{ simulated }}">
                Cancel
            </a>
        </p>
    </div>
{% endblock %}