{% extends "../layout.njk" %}

{% block main %}
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">Your payment was declined. No money has been taken.</p>

        <p class="govuk-body govuk-!-margin-top-9">
            <a class="govuk-link govuk-link--no-visited-state" href="/readers?simulated={{ simulated }}">
                Back to terminals
            </a>
        </p>
    </div>
{% endblock %}