{% extends "../layout.njk" %}

{% block pageSpecificStyle %}
    <meta http-equiv="refresh" content="2" />
{% endblock %}

{% block mainContent %}
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Payment in progress</h1>

        <p class="govuk-body-l">Continue payment on terminal</p>

        <div id="spinner">
            <img src="/images/spinner.gif"/>
        </div>

        <p class="govuk-body govuk-!-margin-top-9">
            <a class="govuk-link govuk-link--no-visited-state"
               href="/locations/{{ locationId }}/readers/{{ reader.id }}/cancel-action">
                Cancel
            </a>
        </p>
    </div>
{% endblock %}
