{% extends "../layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block mainContent %}
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
            titleText: "Payment successful",
            html: "Your reference number<br><strong>" + reference + "</strong>"
        }) }}

        <p class="govuk-body govuk-!-margin-top-9">
            <a class="govuk-link govuk-link--no-visited-state" href="/readers?simulated={{ simulated }}">
                Back to terminals
            </a>
        </p>
    </div>
{% endblock %}