<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stripe terminals demo</title>
    <link rel="stylesheet" href="/stylesheets/application.min.css" media="all">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</html>

<body class="govuk-template__body js-enabled">

<header class="govuk-header " role="banner" data-module="header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__content toolbox_header__offset">
            <a href="/" class="govuk-header__link govuk-header__link--service-name">
                GOV.UK Pay
            </a>
        </div>
    </div>
</header>

<div class="govuk-width-container">

    <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-9">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<footer class="govuk-footer">
    <div class="govuk-width-container">
        <div class="govuk-footer__meta">
        </div>
    </div>
</footer>
</body>
</html>
