{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block main %}
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Terminals</h1>

        <div>
            {% for reader in readers %}
                <div class="list-item">
                    <h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state"
                                                   href="/readers/{{ reader.id }}">{{ reader.label }}</a></h2>
                    <div class="list-item-meta">
                        <dl>
                            <dt>Location:</dt>
                            <dd>{{ reader.location.display_name }}</dd>
                        </dl>
                        <dl>
                            <dt>Serial number:</dt>
                            <dd>{{ reader.serial_number }}</dd>
                        </dl>
                    </div>
                    <div>
                        {{ govukButton({
                            classes: "govuk-button--secondary",
                            text: "Take a payment",
                            href: "/readers/{{ reader.id }}/payment"
                        }) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

